@use '~variables' as *;

body {
  background-color: $background-primary;
  color: $text-primary;
  min-height: rem(600) !important;
  flex-direction: column;
  font-family: $primary-font;
  margin: 0 auto;
  overflow-x: hidden;
  width: rem(400) !important;
}

.devices {
  display: flex;
  flex-direction: column;
  gap: rem(12);

  .icon {
    border: solid rem(1) rgba($color: $alert-success, $alpha: 0.5);
    border-radius: 50%;
    flex: none;
    height: rem(24);
    position: relative;
    width: rem(24);

    svg {
      height: 100%;
      stroke: $background-primary;
      width: 100%;
    }

    &::after {
      border: solid rem(1) $alert-success;
      border-radius: 50%;
      content: '';
      height: rem(14);
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: rem(14);
    }

    &::before {
      border: solid rem(1) $alert-success;
      border-radius: 50%;
      content: '';
      height: rem(4);
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: rem(4);
    }
  }

  .name {
    font-size: rem(14);
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .item {
    align-items: center;
    border: dashed rem(1) $border-normal;
    border-radius: rem(16);
    display: flex;
    gap: rem(8);
    padding: rem(16);
  }

  .signed {
    background-color: $alert-success-hover;
    border: solid rem(1) $alert-success;

    .icon {
      background-color: $alert-success;
      padding: rem(4);

      &::after,
      &::before {
        content: none;
      }
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: rem(12);

  .ant-tooltip-open {
    cursor: pointer;
  }

  .label {
    color: $text-extra-light;
    flex: 1;
    font-weight: 500;
    line-height: rem(16);
    white-space: nowrap;
  }

  .extra {
    font-weight: 500;
    line-height: rem(16);
    max-width: 100%;
    overflow-y: hidden;
  }

  .middle-truncate {
    font-weight: 500;
    line-height: rem(16);
    width: rem(112);
  }

  .action {
    cursor: pointer;
    height: rem(20);
    width: rem(20);

    svg {
      fill: $text-primary;
      height: 100%;
      width: 100%;
    }
  }

  .item {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: rem(4);

    + .item {
      border-top: solid rem(1) $border-light;
      padding-top: rem(13);
    }
  }
}

.steps {
  display: flex;
  flex-direction: column;
  gap: rem(32);

  .item {
    display: flex;
    flex-direction: column;
    padding-left: rem(40);
    position: relative;

    .icon {
      background-color: $background-tertiary;
      border-radius: 50%;
      height: rem(24);
      left: 0;
      padding: rem(4);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: rem(24);

      svg {
        height: 100%;
        stroke: $alert-success;
        width: 100%;
      }
    }

    .title {
      color: $text-light;
      font-weight: 500;
      font-size: rem(13);
      line-height: rem(28);
    }

    .step {
      color: $text-extra-light;
      font-weight: 500;
      font-size: rem(10);
      line-height: rem(10);
    }

    &:last-child {
      .icon {
        background-color: transparent;
        border: dashed rem(1) rgba($color: $neutral-50, $alpha: 0.1);
      }

      .title {
        color: $text-primary;
        line-height: rem(18);
      }
    }

    + .item {
      &::after {
        background-color: $border-light;
        content: '';
        height: rem(28);
        left: rem(12);
        position: absolute;
        top: rem(-30);
        width: rem(1);
      }

      &::before {
        background-color: $border-light;
        content: '';
        height: rem(1);
        left: rem(40);
        position: absolute;
        right: 0;
        top: rem(-16);
      }
    }
  }
}

.card {
  background-color: $background-secondary;
  border-radius: rem(16);
  display: flex;
  flex-direction: column;
  gap: rem(24);
  padding: rem(24);
  width: 100%;

  .header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: rem(8);

    .action {
      cursor: pointer;
      height: rem(16);
      width: rem(16);

      svg {
        height: 100%;
        width: 100%;
      }
    }

    .heading {
      font-weight: 500;
      font-size: rem(17);
      line-height: rem(20);
    }

    &.centered {
      justify-content: center;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: rem(16);

    .ant-divider {
      margin: rem(12) 0;
    }

    .ant-qrcode {
      border: solid rem(1) $border-light;
      border-radius: rem(16);
      cursor: pointer;
      max-height: rem(304);
      max-width: rem(304);
      padding: rem(24);
    }
  }

  .footer {
    display: flex;
    gap: rem(12);
  }
}

.layout {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  padding: rem(24);
}
