@use '~variables' as *;

body {
  background-color: $background-primary;
  color: $text-primary;
  min-height: rem(600) !important;
  flex-direction: column;
  font-family: $primary-font;
  margin: 0 auto;
  overflow: hidden;
  width: rem(360) !important;
}

.button-primary {
  background-color: $button-primary;
  border-radius: rem(42);
  color: $button-text-light;
  cursor: pointer;
  display: flex;
  font-size: rem(14);
  font-weight: 600;
  gap: rem(8);
  justify-content: center;
  line-height: rem(42);
  transition: all 0.2s;
  width: 100%;

  &:hover {
    background-color: $button-primary-hover;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: rem(12);

  .label {
    color: $text-extra-light;
    font-weight: 500;
    line-height: rem(16);
  }

  .extra {
    font-weight: 500;
    line-height: rem(16);
  }

  .item {
    display: flex;
    flex-direction: column;

    + .item {
      border-top: solid rem(1) $border-light;
      padding-top: rem(13);
    }
  }
}

.card {
  background-color: $background-secondary;
  border-radius: rem(16);
  display: flex;
  flex-direction: column;
  gap: rem(24);
  padding: rem(24);
  width: 100%;

  .header {
    display: flex;
    justify-content: space-between;

    .action {
      cursor: pointer;
      height: rem(20);
      padding: rem(2);
      width: rem(20);

      svg {
        height: 100%;
        width: 100%;
      }
    }

    .heading {
      font-weight: 500;
      font-size: rem(17);
      line-height: rem(20);
    }
  }

  .footer {
    display: flex;
    gap: rem(12);
  }
}

.layout {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: rem(24);
}
