@use "pages/currency";
@use "pages/delete-vault";
@use "pages/import";
@use "pages/language";
@use "pages/landing";
@use "pages/main";
@use "pages/rename-vault";
@use "pages/vault-settings";
@use "pages/vaults";
@use "pages/settings";
