@use 'pages/currency';
@use 'pages/delete-vault';
@use 'pages/import-qr';
@use 'pages/import-file';
@use 'pages/language';
@use 'pages/landing';
@use 'pages/main';
@use 'pages/rename-vault';
@use 'pages/vault-settings';
@use 'pages/settings';
