@use "~variables" as *;

.vulti-error {
  align-items: center;
  background-color: $blue-light;
  border-radius: rem(12);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: rem(32) rem(40);
  text-align: center;

  svg {
    height: rem(16);
    stroke-width: 3;
    width: rem(16);
  }

  .badge {
    align-items: center;
    background-color: $red-base;
    border-radius: rem(20);
    display: inline-flex;
    font-weight: 700;
    gap: rem(8);
    justify-content: center;
    padding: rem(8) rem(16);
  }

  .title {
    font-size: rem(16);
    font-weight: 700;
    line-height: rem(22);
    margin-top: rem(32);
  }

  .description {
    color: $gray-6;
    line-height: rem(20);
    margin-top: rem(4);
  }
}
