@use '~variables' as *;

.main-page {
  .header {
    .logo-type {
      font-size: rem(22);
      font-weight: 600;
      left: rem(62);
      line-height: rem(32);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .content {
    .apps {
      background-color: $blue-base;
      border-radius: rem(12);
      padding: 0 rem(20);

      .action {
        border-bottom: solid rem(1) rgba($color: $gray-1, $alpha: 0.1);
        display: flex;
        font-weight: 600;
        justify-content: space-between;
        line-height: rem(22);
        margin: 0 rem(-20);
        padding: rem(20);

        .icon {
          height: rem(22);
          width: rem(22);
        }

        .title {
          align-items: 'center';
          display: flex;
          gap: rem(4);
        }
      }

      .item {
        align-items: center;
        display: flex;
        height: rem(70);
        gap: rem(8);
        padding: rem(16) 0;
        position: relative;

        .name {
          font-weight: 600;
        }

        .btn {
          align-items: center;
          background-color: $blue-light;
          border-radius: rem(12);
          color: $gray-6;
          cursor: pointer;
          display: flex;
          font-weight: 600;
          gap: rem(6);
          height: rem(38);
          justify-content: center;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          transition: color 0.3s;
          width: rem(84);

          svg {
            height: rem(12);
            transition: fill 0.3s;
            width: rem(12);
          }

          &:hover {
            color: $gray-1;
          }
        }

        + .item {
          border-top: solid rem(1) rgba($color: $gray-1, $alpha: 0.1);
        }
      }
    }
    .ant-empty {
      padding: rem(20) 0;

      .ant-empty-image {
        svg {
          opacity: 1 !important;
        }
      }
    }
    .view {
      margin-top: rem(10);
    }
  }
}
.address {
  color: $cyan-base !important;
  font-size: rem(10) !important;
}
.chain-item {
  display: flex;
  align-items: center;
}
button {
  border: 0;
}
