@use "~variables" as *;

.delete-vault-page {
  .content {
    .icon {
      height: rem(66);
      margin: 0 auto;
      stroke: $yellow-base;
      width: rem(66);
    }

    .text {
      display: block;
      font-size: rem(16);
      font-weight: 700;
      line-height: rem(24);
      margin-top: rem(24);
      text-align: center;
    }

    .name {
      background-color: $blue-base;
      border-radius: rem(12);
      display: block;
      font-size: rem(16);
      line-height: rem(48);
      margin-top: rem(8);
      text-align: center;
    }
  }
}
