@use "~variables" as *;

.landing-page {
  .content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
      font-size: rem(26);
      font-weight: 700;
      line-height: rem(36);
      margin-top: rem(24);
    }

    .desc {
      background-image: linear-gradient(
        100deg,
        $cyan-base 14%,
        $blue-sharp 140%
      );
      background-clip: text;
      color: transparent;
      font-size: rem(16);
      line-height: rem(24);
      margin-top: rem(4);
    }
  }
}
