@use "sass:math";

@function rem($px, $base: 16) {
  @return #{math.div($px, $base)}rem;
}

$blue-light: #11284a;
$blue-base: #061b3a;
$blue-dark: #02122b;
$blue-sharp: #0439c7;
$cyan-dark: #15d7ac;
$cyan-base: #33e6bf;
$red-base: #ee2b2b;
$red-light: #e3534f;
$red-dark: #da2e2e;
$yellow-base: #f7961b;

$gray-1: #ffffff;
$gray-2: #fafafa;
$gray-3: #f5f5f5;
$gray-4: #f0f0f0;
$gray-5: #d9d9d9;
$gray-6: #bfbfbf;
$gray-7: #8c8c8c;
$gray-8: #595959;
$gray-9: #434343;
$gray-10: #262626;
$gray-11: #1f1f1f;
$gray-12: #141414;
$gray-13: #000000;

$linear-gradient: linear-gradient(102deg, $cyan-base 14%, $blue-sharp 140%);

$primary-font: "Montserrat", Tahoma, Geneva, Verdana, sans-serif;
$secondary-font: "Roboto Mono", Tahoma, Geneva, Verdana, sans-serif;
