@use 'sass:math';

@function rem($px, $base: 16) {
  @return #{math.div($px, $base)}rem;
}

/* --- new variables --- */

$alert-error: #ff5c5c;
$alert-error-hover: #2b1111;
$alert-info: #5ca7ff;
$alert-info-hover: #061b3a;
$alert-success: #13c89d;
$alert-success-hover: #042436;
$alert-warning: #ffc25c;
$alert-warning-hover: #362b17;

$background-primary: #02122b;
$background-secondary: #061b3a;
$background-tertiary: #11284a;

$border-light: #11284a;
$border-normal: #5ca7ff;

$button-primary: #2155df;
$button-primary-hover: #1e6ad1;
$button-secondary: #061b3a;
$button-secondary-hover: #3b6a91;

$neutral-50: #ffffff;
$neutral-100: #eff2f6;
$neutral-200: #cbd7e9;
$neutral-300: #97acbf;
$neutral-400: #849cb2;
$neutral-500: #7d909e;
$neutral-600: #626c77;
$neutral-700: #383a40;
$neutral-800: #0f1011;
$neutral-900: #000000;

$primary-one: #042d9a;
$primary-two: #0439c7;
$primary-three: #2155df;
$primary-four: #4879fd;

$text-dark: #02122b;
$text-extra-light: #8295ae;
$text-light: #c9d6e8;
$text-primary: #f0f4fc;

/* --- old variables --- */

$blue-light: #11284a;
$blue-base: #061b3a;
$blue-dark: #02122b;
$blue-sharp: #0439c7;
$cyan-dark: #15d7ac;
$cyan-base: #33e6bf;
$red-base: #ee2b2b;
$red-light: #e3534f;
$red-dark: #da2e2e;
$yellow-base: #f7961b;

$gray-1: #ffffff;
$gray-2: #fafafa;
$gray-3: #f5f5f5;
$gray-4: #f0f0f0;
$gray-5: #d9d9d9;
$gray-6: #bfbfbf;
$gray-7: #8c8c8c;
$gray-8: #595959;
$gray-9: #434343;
$gray-10: #262626;
$gray-11: #1f1f1f;
$gray-12: #141414;
$gray-13: #000000;

$linear-gradient: linear-gradient(102deg, $cyan-base 14%, $blue-sharp 140%);

$primary-font: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
$secondary-font: 'Roboto Mono', Tahoma, Geneva, Verdana, sans-serif;
